.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 98%;
  border: 1px black solid;
  border-radius: 3px;
  background-color: rgba(139, 124, 124, 0.432);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.box2 {
  width: 98%;
  border: 1px black solid;
  border-radius: 3px;
  background-color: rgba(139, 124, 124, 0.148);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.box3 {
  width: 98%;
  border: 1px black solid;
  border-radius: 3px;
  background-color: rgba(93, 83, 52, 0.132);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.box4{
  width: 98%;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 3px;
  background-color: rgba(128, 45, 45, 0);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.box5{
  width: 98%;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 3px;
  background-color: rgba(128, 45, 45, 0);
  display: flex;
  flex-wrap: wrap;
  /* justify-content: left; */
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.box6{
  width: 98%;
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 3px;
  background-color: rgba(128, 45, 45, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

/*

.float-container {
  border: solid 1px black;
  padding: 0 0 0 3px;
  position: relative;
  margin: 8px 10px 8px 10px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
.float-container input {
  border: none;
  font-size: 16px;

  padding: 0 0 1px;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.788);
}
label {
  font-size: 16px;

  color: black;
  position: absolute;
  transform-origin: top left;
  transform: translate(3px, 0px) scale(1);
  transition: all 0.2s ease-in-out;

}
.float-container.active label {

  transform: translate(5px, -19px) scale(0.75);

  color: black;

  background-color: rgba(255, 255, 255, 0);

  padding: 0px 3px 0px 3px;

}
*/

span {
  margin: 0 0 5px 0;
  padding: 0 13px 0 13px;
  border-radius: 10px;
}

img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 10px;
}

.lr{
  height: 500px;
  flex: 1;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.644);
}

.lr > img{
  width: 250px;
  height: 300px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 40px;
  margin: 30px;
}

h2{
  margin: 5px;
}
h4{
  margin: 10px;
}

.btn{
  margin: 5px;
}

.l{
  display: flex;
}

.big-checkbox {
width: 20px;
height: 20px; 
}

label {
text-align: left; 

}